name: Build
on: push
jobs:
  build-and-push:
    needs: [ pytest ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Docker build
        run: docker build -t andreilyakh/test-image:$GITHUB_REF_NAME-$GITHUB_RUN_ID .
      - name: Docker login
        run: echo ${{ secrets.DOCKER_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Docker push
        run: docker push andreilyakh/test-image:$GITHUB_REF_NAME-$GITHUB_RUN_ID