# задаем название
name: Check
# задем триггер для workflow
on: push
# список job-ов, которые будут выполняться при push
jobs:
  # имя для job
  pytest:
    # указываем на чем будет запускаться (runner - берется с ресурсов GitHub)
    runs-on: ubuntu-latest
    # указываем шаги
    steps:
      # добавляем код из репозитория в среду runner-a
      - name: Checkout
      # используем уже существующий actions
        uses: actions/checkout@v3
      # устанавливаем зависимости
      - name: Install dependencies
        # выполняем команду в окружении из runs-on
        run: pip install -r requirements.txt
      - name: pytest
        run: pytest

  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Docker build
        run: docker build -t andreilyakh/test-image:$GITHUB_REF_NAME-$GITHUB_RUN_ID .
      - name: Docker login
        run: echo ${{ secrets.DOCKER_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Docker push
        run: docker push andreilyakh/test-image:$GITHUB_REF_NAME-$GITHUB_RUN_ID
