# задаем название
name: Check
# задем триггер для workflow
on: push
# список job-ов, которые будут выполняться при push
jobs:
  # имя для job
  pytest:
    # указываем на чем будет запускаться (runner - берется с ресурсов GitHub)
    runs-on: ubuntu-latest
    # указываем шаги
    steps:
      - name: Checkout
      # используем уже существующий actions
        uses: actions/checkout@v3
      # устанавливаем зависимости
      - name: Install dependencies
        # выполняем команду в окружении из runs-on
        run: pip install -r requirements.txt
      - name: pytest
        run: pytest

  # второй job для запуска
  flask:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: flask
        run: python app.py